@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Привіт</h1>
    <p>Це проєкт CRUD вебдодатка, предметною областю якого є кіберспортивний світ.</p>
</div>
