@{
    ViewData["Title"] = "EsportCRUD Web";
}
    <div class="text-center">
        <h1 class="display-4">Привіт</h1>
        <p>Це проєкт CRUD вебдодатка, предметною областю якого є кіберспортивний світ.</p>
    </div>


@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Вихід" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вхід</a>
    <a asp-controller="Account" asp-action="Register">Реєстація</a>
}